---
layout: default
---

<div class="flex flex-col min-h-screen">
  <!-- Hero Section -->
  {% include sections/hero.html %}

  <!-- About Section -->

  <!-- Projects Section -->
  <!-- include sections/projects.html  -->

  <!-- Skills Section -->
  {% include sections/skills.html %}

  <!-- Experience Section -->
  {% include sections/experience.html %}

  <!-- Education Section -->
  {% include sections/education.html %}

  <!-- Contact Section -->
  {% include sections/contact.html %}
</div>
