<section class="hero is-medium has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!-- <p>{{site.author-about}}</p> -->

                    <p>A creative explorer with a diverse background and a passion for merging
                        technology with ecology to make a positive impact on the world. Over 5 years
                        of engineering experience. With a foundation in science, I thrive in the
                        intersection of innovation and nature. My specialty lies in front-end
                        engineering, but also handle full-stack development. In my free time, I enjoy
                        freediving, exploring on motorcycles, and traveling the world, capturing
                        adventures through the lens of an action camera.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
