<section class="hero is-fullheight has-text-centered has-background-black-ter" id="career">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
              <div class="content">
                <h1 class="title"> Aptoide </h1>
                <h3 class="subtitle">Fullstack Developer</h3>
                <p>  Syntethis of my carrer</p>
              </div>
            </div>
          </div>
        </div>
        </div>
</section>
