<footer class="relative w-full mt-5 px-4 py-10 bg-default-50 text-white">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 z-30"
  >
    <div class="flex flex-col gap-2">
      <h3
        class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 mb-6 animate-text-gradient"
      >
        Pedro Gritter
      </h3>
      <p class="text-default-600">
        Full Stack Engineer specializing in modern web technologies
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h3
        class="text-lg font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 mb-6 animate-text-gradient"
      >
        Quick Links
      </h3>
      <nav class="flex flex-col gap-2">
        <a href="https://github.com/pedrogritter"><b>Github</b></a>
        <a href="https://www.linkedin.com/in/pedro-gritter/"><b>Linkedin</b></a>
      </nav>
    </div>
    <div class="flex flex-col gap-2">
      <h3
        class="text-lg font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 mb-6 animate-text-gradient"
      >
        Contact
      </h3>
      <div class="text-slate-50">
        <p>Phone: (+351) 918460457</p>
        <p>Email: pedro12345g@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
