<head>
  {% include meta.html %}
  <title>{{site.title}}</title>
  <link
    rel="stylesheet"
    href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css"
  />
  <script src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/js/bulmajs.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.5/dist/css/bulma-timeline.min.css"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/pygments.css"
  />
  <script
    src="https://kit.fontawesome.com/6a97161b76.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="shortcut icon"
    href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/images/logo.png' | absolute_url }}{% endif %}"
    type="image/x-icon"
  />
  <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script> -->
</head>
