<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body is-flex is-justify-content-center">
    <div class="columns">
      <div class="column ">
        <div class="container">
          <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
            <!-- {{site.title}} -->
            I'm Pedro Gritter,
          </h1>
          <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
            <!-- {{site.description}} -->
            a Fullstack developer.
          </h3>
          <hr>
          <a href="{{site.url}}{{site.baseurl}}/#about"
            class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal is-danger">Read More</a>
          </a>
          <a href="{{ site.url }}/download/PedroGritterCV.pdf"
            class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal is-primary">Download CV</a>
          </a>
        </div>
      </div>
      <div class="column is-three-fifths">
        <div class="content has-text-left is-rounded">
          {% highlight jsx %}
          import react from "react";

          interface WelcomeProps = {
            uses:
              | "explore new tech"
              | "display my skills"
              | "find a fulltime job";
          };

          interface Skills = ['react', 'typescript', 'js', 'redux', 'python']

          export const Welcome = ({ uses }) => {
            return (
              <>
                <h1>This is my little slice of the internet.</h1>
                <p>
                  I use this page to display my skills and <em>{uses}</em>.
                </p>
              </>
            );
          };

          export default Welcome;
          {% endhighlight %}
        </div>
      </div>
    </div>


    <!-- <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Download CV</a>
      </a>
    </div> -->
  </div>
</section>
